/* src/pages/About.css */
.sidebar-section {
    margin-bottom: 1em;
}
.main-section {
    margin-bottom: 1em;
}

.jumbotron-about {
    color: white;
    background-image: linear-gradient(50deg, Green, Blue);
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin: 1em;
    top: 1em;
    position: relative;
}

.link {
    color: white;
    &:hover {
        color: white;
    }
}

.jumbotron-merch {
    color: white;
    background-image: linear-gradient(110deg, Green, MidnightBlue);
    align-content: left;
    font: 20px palatino;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    margin: 1em;
    top: 1em;
    position: relative;
}

.img-blue {
    border: 10px solid RoyalBlue;
}

.img-purple {
    border: 10px solid RebeccaPurple;
}
