{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="./static/frontend/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/png" href="./static/frontend/apple-touch-icon.png" />
    <link rel="manifest" href="manifest.json" />
    <meta
      name="description"
      content="Get a funny fortune from a funny somewhat aggressive underwater fortune teller."
    />

    <title>Underwater Fortune Teller</title>
  </head>
  <body>
      <div id="app"><!-- React --></div>
      <script src="{% static "static/frontend/main.js" %}"></script>
      <link rel="stylesheet" href="{% static "static/frontend/main.css" %}">
      <!-- <link rel="stylesheet" href="static/frontend/main.css"> -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
      />
  </body>
</html>
